VITE_CATALOG_API_URL=http://localhost:8101/api/v1/catalog
VITE_AUTH_API_URL=http://localhost:8102/api/v1/auth
VITE_MEDIA_PUBLIC_BASE_URL=http://localhost:9000/sabr-product-media
VITE_ORDERS_API_URL=http://localhost:8103/api/v1/orders
