VITE_AUTH_API_URL=http://localhost:8102/api/v1/auth
VITE_CATALOG_ADMIN_API_URL=http://localhost:8101/api/v1/admin/catalog
VITE_ORDERS_ADMIN_API_URL=http://localhost:8103/api/v1/admin/orders
VITE_MEDIA_API_URL=http://localhost:8104/api/v1/media
